<nav class="nav-bar">
  <ul class ="navBarContainer">
    <li class="navItems"><a class="navLinks" href="#">Home</a></li>
    <li class="navItems"><a class="navLinks" href="#">About</a></li>
    <li class="navItems"><a class="navLinks" href="/seasons/new">Add a Bucket List Item</a></li>
    <li id="summerNav"><a class="navLinks" href="/seasons/summer">Summer</a></li>
    <li id="fallNav"><a class="navLinks" href="/seasons/fall">Fall</a></li>
    <li id="winterNav"><a class="navLinks" href="/seasons/winter">Winter</a></li>
    <li id="springNav"><a class="navLinks" href="/seasons/spring">Spring</a></li>
  </ul>
</nav>