
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book List</title>
	</head>
    
	<body>
		<h1>New Bucket List Item Page</h1>
		<form action="/seasons" method="POST">
            Winter: <input type="radio" name="season" /><br />
			Title: <input type="text" name="title" /><br />
			Description: <input type="text" name="description" /><br />
			Image: <input type="text" name="img" /><br />
			Price: <input type="text" name="price" /><br />
            Completed: <input type="checkbox" name="completed" /><br />
			<input type="submit" name="" value="Add Bucket List Item" />
		</form>
	</body>
</html>